# Variables de entorno
config.properties

# Archivos generados por NetBeans
nbproject/private/
nbbuild/
dist/
build/
*.nbattrs

# Archivos de compilación y dependencias de Maven
target/
*.class
*.war
*.ear

# Configuración del IDE
.idea/
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db